{% extends "base.html.twig" %}

{% block title 'Gérer les localisations' %}

{% block body %}
	<div class="container">
		<h1>Gérer les localisations</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for localisation in localisations %}
					<tr>
						<td>{{ localisation.name }}</td>
						<td>
							<a href="{{ path('admin.localisation.edit', {id: localisation.id}) }}" class="btn btn-secondary">Editer</a>
                            <form method="POST" action="{{ path('admin.localisation.delete', {id: localisation.id}) }}" 
                            style="display:inline-block;" onsubmit="return confirm('Voulez-vous réellement supprimer cette localisation ? ')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ localisation.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        <div class="text-right">
            <a href="{{ path('admin.localisation.new') }}" class="btn btn-primary">Ajouter une localisation</a>
        </div>
	</div>

{% endblock %}
