{{ form_start(form) }}
<div class="row">
	<div class="col-md-6">{{ form_row(form.lastname) }}</div>
	<div class="col-md-6">{{ form_row(form.firstname) }}</div>
</div>
<div class="row">
	<div class="col-md-6">{{ form_row(form.function) }}</div>
	<div class="col-md-6">{{ form_row(form.site) }}</div>
</div>
{{ form_widget(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
