{% extends "base.html.twig" %}
{% block title 'Liste du personnel' %}
{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{ form_start(form) }}
			<div class="form-row">
				<div class="col">
					{{ form_row(form.personName) }}
				</div>
				<div class="col">
					{{ form_row(form.localisations) }}
				</div>
				<div class="col">
					<button class="btn btn-primary">Rechercher</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<h1>Liste du personnel</h1>
		<div class="row">
			{% for person in persons %}
				<div class="col-md-4">
					{% include 'person/_person.html.twig' %}
				</div>
			{% endfor %}
		</div>
		<div class="pagination">
			{{ knp_pagination_render(persons) }}
		</div>
	</div>
{% endblock %}
